{
    "presets":[
        [
            "babel/preset-env",
            {
                "targets": "> 1%",
                "userBuildInt": "usage",
                "core-js": 3
            }
        ]
    ]
}